
<% if (Array.isArray(theme.widgets) && theme.widgets.length > 0) { %>
<aside id="sidebar">
    <div class="widget-wrap">
        <h3 class="widget-title">本站公告</h3>
        <div class="widget">
            <img src="/images/logo.jpg"/>
        </div>
    </div>
   <% theme.widgets.forEach(function(widget) { %>
        <%- partial('widget/' + widget) %>
    <% }) %>
    <div id="toTop" class="fas fa-angle-up"></div>
</aside>
<% } %>